header{background-color:#e2af51d0

}
body{background-color:#E2B051}
nav{flex-direction:row;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background-color:#E2B051}
   
   
   
.tecnologias{display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background-color:#E2B051}

    .ferramentas{display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background-color:#E2B051}
    